@use 'sass:color';

.timeline {
  position: relative;
}

.container {
  @include container;

  & {
    align-items: flex-start;
  }
}

.intro {
  @include skeleton-text;

  & {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (min-width: $breakpoint-md) {
    gap: 0.5rem;
  }

  h3 {
    @include text-lg;
    @include text-bold;

    & {
      color: $color-primary;

      @include dark-mode {
        color: $color-primary;
      }
    }

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }
  }

  h2 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-xm;
    }
  }

  .button-group {
    margin-top: 1.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $breakpoint-md) {
    gap: 4rem;
  }
}

.item {
  @include skeleton-text;

  & {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      gap: 1rem;

      @include dark-mode {
        background-color: transparent;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    margin: 0;
  }

  &:first-child .left {

    &::after {
      top: 0.5rem;
    }
  }

  &:last-child .left {

    &::after {
      bottom: 0;
    }
  }
}

.left {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: $breakpoint-md) {
    min-width: 260px;
    padding-left: 2rem;
  }

  &::after {

    @media (min-width: $breakpoint-md) {
      content: '';
      position: absolute;
      left: 0rem;
      top: -2rem;
      bottom: -2rem;
      border-left: 1px solid $color-border;

      @include dark-mode {
        border-color: $color-border-dark;
      }
    }
  }

  .dot {

    @media (min-width: $breakpoint-md) {
      position: absolute;
      left: -0.5rem;
      top: 0;
      width: 1.0625rem;
      height: 1.0625rem;
      background-color: $color-bg;
      z-index: 1;

      @include dark-mode {
        background-color: $color-bg-dark;
      }
    }

    &::before {

      @media (min-width: $breakpoint-md) {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: color.change($color-primary, $alpha: 0.2);
        border-radius: 0.5313rem;
      }
    }

    &::after {

      @media (min-width: $breakpoint-md) {
        content: '';
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
        width: 0.5625rem;
        height: 0.5625rem;
        border-radius: 0.2813rem;
        background-color: $color-primary;
      }
    }
  }

  h4 {
    @include text-sm;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }
  }
}

.right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    @include text-md;
    @include text-bold;

    & {
      color: $color-primary;
      display: none;

      @include dark-mode {
        color: $color-primary;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-lg;

      & {
        display: flex;
      }
    }
  }

  h5 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-lg;
    }
  }
}

svg.skeleton {
  g, path {
    opacity: 0;
  }
}