@use 'sass:color';

.timeline {
  position: relative;
  scroll-margin-top: 1.5rem + $header-height;

  @media (min-width: $breakpoint-md) {
    scroll-margin-top: 2rem + $header-height;
  }

  @media (min-width: $breakpoint-lg) {
    scroll-margin-top: 4rem + $header-height;
  }
}

.container {
  @include container;

  & {
    align-items: flex-start;
  }
}

.intro {
  @include skeleton-text;

  & {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }

  @media (min-width: $breakpoint-md) {
    gap: 0.5rem;
  }

  h2 {
    @include text-lg;
    @include text-bold;

    & {
      color: $color-primary;

      @include dark-mode {
        color: $color-primary;
      }
    }

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }
  }

  h3 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-xm;
    }
  }

  .button-group {
    margin-top: 1.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $breakpoint-md) {
    gap: 4rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $breakpoint-md) {
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }

  &::after {
    @media (min-width: $breakpoint-md) {
      position: absolute;
      top: -2rem;
      bottom: -2rem;
      left: 0;
      border-left: 1px solid $color-border;
      content: '';

      @include dark-mode {
        border-color: $color-border-dark;
      }
    }
  }

  &:first-child {
    &::after {
      top: 0.5rem;
    }
  }

  &:last-child {
    &::after {
      bottom: 0;
    }
  }
}

.left {
  position: relative;
  padding: 0 1rem;

  @media (min-width: $breakpoint-md) {
    position: sticky;
    z-index: 1;
    top: 1rem;
    min-width: 260px;
    padding: 0 0 0 2rem;
  }

  .dot {
    &.skeleton {
      &::before {
        @media (min-width: $breakpoint-md) {
          background-color: color.change($color-dark, $alpha: 0.1);

          @include dark-mode {
            background-color: color.change($color-light, $alpha: 0.1);
          }
        }
      }

      &::after {
        @media (min-width: $breakpoint-md) {
          background-color: color.change($color-dark, $alpha: 0.2);

          @include dark-mode {
            background-color: color.change($color-light, $alpha: 0.2);
          }
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -0.5rem;
      width: 1.0625rem;
      height: 1.0625rem;
      background-color: $color-bg;

      @include dark-mode {
        background-color: $color-bg-dark;
      }
    }

    &::before {
      @media (min-width: $breakpoint-md) {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 0.5313rem;
        background-color: color.change($color-primary, $alpha: 0.2);
        content: '';
      }
    }

    &::after {
      @media (min-width: $breakpoint-md) {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        width: 0.5625rem;
        height: 0.5625rem;
        border-radius: 0.2813rem;
        background-color: $color-primary;
        content: '';
      }
    }
  }

  .text {
    @include skeleton-text;

    & {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }

  h4 {
    @include text-sm;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }
  }
}

.right {
  @include skeleton-text;

  & {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border: 0.0625rem solid $color-border;
    border-radius: 1rem;
    gap: 0.5rem;

    @include dark-mode {
      padding: 1.5rem;
      border-color: $color-border-dark;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 1.5rem 2rem;
    }
  }

  h4 {
    @include text-md;
    @include text-bold;

    & {
      color: $color-primary;

      @include dark-mode {
        color: $color-primary;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-lg;
    }
  }

  h5 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-lg;
    }
  }
}

svg.skeleton {
  g,
  path {
    opacity: 0;
  }
}
