.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox,
.radio {
  position: relative;
  display: flex;
  align-items: flex-start;

  &.is-disabled .input {
    border-color: transparent;
    background: $color-disabled;

    @include dark-mode {
      border-color: transparent;
      background: $color-disabled-dark;
    }

    & + label {
      color: $color-border;

      @include dark-mode {
        color: $color-border-dark;
      }

      .title,
      .total,
      .content {
        color: inherit;
      }
    }
  }

  &.is-skeleton .input {
    border-color: transparent;
    animation: pulse 1.5s infinite ease-in-out;
    background-color: $color-skeleton;

    @include dark-mode {
      background-color: $color-skeleton-dark;
    }

    &:checked {
      border-color: transparent;

      & + label::before {
        display: none;
      }
    }

    & + label {
      .label,
      .total,
      .content {
        height: 1.5rem;
        border-radius: 0.25rem;
        animation: pulse 1.5s infinite alternate;
        background-color: $color-skeleton;

        @include dark-mode {
          background-color: $color-skeleton-dark;
        }
      }

      .label {
        width: 10rem;
      }

      .total {
        width: 2.8125rem;
      }

      .content {
        height: 1.5rem;
      }
    }
  }

  &.is-error:not(.is-ghost) {
    &.radio .input:checked {
      background: $color-error;
    }

    & + .helper {
      color: $color-error;
    }

    .input {
      border-color: $color-error;

      &:checked {
        background: $color-error;
      }

      &:focus-visible,
      &:not(:placeholder-shown) {
        border-color: $color-error;
        outline-color: $color-error;
      }
    }
  }

  &.no-label label {
    padding-left: 0;
  }
}

.input {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: 0;
  border: 0.0625rem solid $color-border;
  border-radius: 0.25rem;
  appearance: none;
  aspect-ratio: 1;
  background-color: $color-bg;
  transition: all 0.2s ease-in-out;

  @include dark-mode {
    border-color: $color-border-dark;
    background-color: $color-bg-dark;
  }

  .radio & {
    border-radius: 0.75rem;
  }

  &:checked {
    border-color: $color-dark;
    background: $color-dark;

    @include dark-mode {
      border-color: $color-light;
      background: $color-light;
    }

    & + label::before {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover:not(.is-disabled &) {
      border-color: $color-dark;
      cursor: pointer;

      @include dark-mode {
        border-color: $color-light;
      }

      & + label {
        cursor: pointer;
      }
    }
  }

  &:focus-visible:not(.is-disabled) {
    border-color: $color-dark;
    outline: 0.125rem solid $color-focus;
    outline-offset: 0.125rem;

    @include dark-mode {
      border-color: $color-light;
      outline-color: $color-focus-dark;
    }
  }

  & + label {
    @include text-md;
    @include text-normal;

    & {
      flex: 1;
      padding-left: 0.75rem;
      margin: 0;
    }

    &::before {
      position: absolute;
      top: 0.1875rem;
      left: 0.5rem;
      width: 0.5rem;
      height: 0.875rem;
      border-right: 0.1875rem solid $color-light;
      border-bottom: 0.1875rem solid $color-light;
      content: '';
      opacity: 0;
      pointer-events: none;
      transform: rotate(45deg);

      @include dark-mode {
        border-right-color: $color-dark;
        border-bottom-color: $color-dark;
      }

      .radio & {
        top: 0.5rem;
        left: 0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border: 0;
        border-radius: 0.25rem;
        background: $color-light;
        transform: none;

        @include dark-mode {
          background: $color-dark;
        }
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-text;
  gap: 0.25rem;

  @include dark-mode {
    color: $color-text-dark;
  }

  .total {
    color: $color-placeholder;

    @include dark-mode {
      color: $color-placeholder-dark;
    }
  }
}

.content {
  @include text-md;
  @include text-normal;

  & {
    margin-top: 0.25rem;
    color: $color-placeholder;

    @include dark-mode {
      color: $color-placeholder-dark;
    }
  }
}

.helper {
  @include text-sm;
  @include text-normal;

  & {
    color: $color-placeholder;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
