@use 'sass:color';

.toggle {
  position: relative;

  &.skeleton {
    .checkbox + label {
      animation: pulse 1.5s infinite alternate;
      background-color: $color-nav;
      transition: opacity 0.3s ease-in-out;

      @include dark-mode {
        background-color: $color-skeleton-dark;
      }
    }

    span {
      display: none;
    }
  }

  .checkbox {
    display: none;

    &.glass + label::after {
      position: absolute;
      z-index: 1;
      border-radius: inherit;
      box-shadow:
        inset 1px 1px 0 rgb(255 255 255 / 20%),
        inset 0 0 1px rgb(255 255 255 / 60%),
        0 1px 1px rgb(0 0 0 / 20%),
        0 0 5px rgb(0 0 0 / 10%);
      content: '';
      inset: 0;
      pointer-events: none;

      @include dark-mode {
        box-shadow:
          inset 1px 1px 0 rgb(255 255 255 / 10%),
          inset 0 0 1px rgb(255 255 255 / 20%);
      }
    }

    & + label {
      width: 5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      background: rgb(0 0 0 / 20%);

      @include dark-mode {
        background: rgb(0 0 0 / 40%);
      }

      &::before {
        display: none;
      }
    }
  }

  span {
    position: absolute;
    z-index: 1;
    top: 0.25rem;
    left: 0.25rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #ffc514;
    pointer-events: none;

    @include dark-mode {
      background-color: #74c0fc;
    }

    &.glass::after {
      position: absolute;
      z-index: 1;
      border-radius: inherit;
      box-shadow:
        inset 1px 1px 0 rgb(255 255 255 / 20%),
        inset 0 0 1px rgb(255 255 255 / 60%),
        0 1px 1px rgb(0 0 0 / 20%),
        0 0 5px rgb(0 0 0 / 10%);
      content: '';
      inset: 0;
      pointer-events: none;

      @include dark-mode {
        box-shadow:
          inset 1px 1px 0 rgb(255 255 255 / 10%),
          inset 0 0 1px rgb(255 255 255 / 20%);
      }
    }
  }
}

.sun {
  display: block;
  color: $color-dark;

  @include dark-mode {
    display: none;
  }
}

.moon {
  display: none;

  @include dark-mode {
    display: block;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
