.footer {
  padding: 0 0 2rem;
}

.container {
  @include container;

  & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social {
  @media (max-width: $breakpoint-md - 1) {
    gap: 2rem;
  }

  a {
    @media (min-width: $breakpoint-md - 1) {
      padding: 0.75rem;
    }

    @media (min-width: $breakpoint-xl) {
      padding: 1rem;
    }
  }

  svg {
    @media (max-width: $breakpoint-md - 1) {
      width: 28px;
    }

    @media (min-width: $breakpoint-xl) {
      width: 32px;
    }
  }
}
