@use 'uplord-ui/styles/forward' as *;
@use 'sass:color';

.page {
  &.fixed {
    padding-top: 5rem;
    padding-bottom: 4.875rem;

    @media (min-width: $breakpoint-md) {
      padding-bottom: 0;
    }
  }

  .header {
    position: fixed;
    width: 100%;
  }
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 0 3rem;
  gap: 3rem;
  transition: all 0.3s ease;

  @media (min-width: $breakpoint-md) {
    padding: 0 0 4rem;
    gap: 4rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 0 8rem;
    gap: 8rem;
  }
}

.section {
  padding: 2rem 0;
}

.container {
  @include container;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
