.projects {
  position: relative;

  h2 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;
      text-align: left;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }
}

.container {
  @include container;

  & {
    align-items: flex-start;
  }
}

.intro {
  @include skeleton-text;
}

.grid {
  width: 100%;
  display: flex;
  gap: 1rem;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $breakpoint-md) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 2.5rem;
    grid-template-columns: repeat(6, minmax(1px, 1fr));
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 280px;

  @media (min-width: $breakpoint-md) {
    grid-column: auto / span 2;
    min-width: auto;
  }
}

.image {
  @include skeleton-image;

  & {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 158px;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  @media (min-width: $breakpoint-md) {
    height: 265px;
  }

  @media (min-width: $breakpoint-lg) {
    height: 298px;
  }

  img {
    max-height: 40%;
    transition: all 0.3s ease-in-out;

    @media (min-width: $breakpoint-md) {
      max-height: 100%;
    }
  }
}

.text {
  @include skeleton-text;

  & {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }

  h3 {
    @include text-lg;
    @include text-bold;

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-md;
    }
  }
}
