.projects {
  position: relative;

  h2 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;
      text-align: left;
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }
}

.container {
  @include container;
}

.grid {
  width: 100%;;
  display: flex;
  gap: 1rem;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $breakpoint-md) {
    display: grid;
    gap: 2rem;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
    grid-template-rows: repeat(2, min-content);
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 2.5rem;
    grid-template-columns: repeat(5, minmax(1px, 1fr));
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 280px;

  @media (min-width: $breakpoint-md) {
    min-width: auto;
  }

  &.item-3 {
    grid-column: auto / span 2;

    @media (min-width: $breakpoint-lg) {
      grid-column: auto / span 3;
    }
  }

  &.item-2 {
    grid-column: auto / span 2;

    @media (min-width: $breakpoint-lg) {
      grid-column: auto / span 2;
    }
  }
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 158px;
  background-color: #EEE;
  border-radius: 0.5rem;
  padding: 1.5rem;

  @media (min-width: $breakpoint-md) {
    height: 265px;
  }

  @media (min-width: $breakpoint-lg) {
    height: 298px;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   left: 0.5rem;
  //   top: 0.5rem;
  //   right: 0.5rem;
  //   bottom: 0.5rem;
  //   border: 0.0625rem solid #FFF;
  //   border-radius: 0.5rem;

  //   @media (min-width: $breakpoint-md) {
  //     left: 1rem;
  //     top: 1rem;
  //     right: 1rem;
  //     bottom: 1rem;
  //   }
  // }

  img {
    max-width: 75%;
    height: auto;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    @include text-lg;
    @include text-bold;
  
    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }

    & {
      color: $color-heading;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;
    }

    // @media (max-width: $breakpoint-md - 1) {
    //   display: none;
    // }
  }
}
