.wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  background: #EEE;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  transform: none !important;
  max-width: 640px;
  margin: 0 auto;
  transition: all 0.2s linear;
  
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}