@use 'uplord-ui/styles/forward' as *;
@use './normalize';

.light {
  background: $color-light;
  color: $color-text;
}

.dark {
  background: $color-dark;
  color: $color-text-dark;
}

body {
  color: $color-text;
  overflow-y: scroll;

  @include dark-mode {
    color: $color-text-dark;
  }
}

.stop-scroll {
  position: relative;
  overflow: hidden;

  .page {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
  }
}

.grecaptcha-badge {
  display: none !important;
}
