@use 'sass:color';

.group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  .block {
    width: 100%;
  }
}

.button {
  @include text-md;
  @include text-bold;

  & {
    z-index: 5;
    display: inline-flex;
    width: fit-content;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid transparent;
    scale: 1;
    text-decoration: none;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      scale 0.2s ease-in-out;
    white-space: nowrap;
  }

  @media (hover) and (pointer: fine) {
    &:hover {
      text-decoration: none;
    }

    &:active:not(.is-disabled) {
      scale: 0.9;
    }
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible:not(.is-disabled) {
    outline: 0.125rem solid $color-dark;
    outline-offset: 0.125rem;

    @include dark-mode {
      outline-color: $color-light;
    }
  }

  &.is-disabled {
    border-color: transparent;
    background-color: $color-disabled;
    color: $color-disabled;

    @include dark-mode {
      border-color: transparent;
      background-color: $color-disabled-dark;
      color: $color-disabled-dark;
    }
  }

  &.is-loading:not(.is-skeleton) {
    border-color: transparent;
    background-color: $color-disabled;

    @include dark-mode {
      border-color: transparent;
      background-color: $color-disabled-dark;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.5rem;
      border-radius: 50%;
      animation: loading 1s infinite;
      aspect-ratio: 1;
      content: '';
      transform: translate(-50%, -50%);

      @include dark-mode {
        animation: loading-dark 1s infinite;
      }
    }

    .content {
      opacity: 0;
    }
  }

  &.is-skeleton {
    border-color: $color-skeleton;
    animation: pulse 1.5s infinite ease-in-out;
    background-color: $color-skeleton;

    @include dark-mode {
      border-color: $color-skeleton-dark;
      background-color: $color-skeleton-dark;
    }

    .content {
      opacity: 0;
    }
  }
}

.size {
  &-md {
    padding: 0.71875rem 1.4375rem;
    border-radius: 1.5rem;

    &.has-icon {
      padding-right: 0.8125rem;
      padding-left: 0.8125rem;

      span {
        width: 1.25rem;
      }
    }

    .content {
      height: 1.4375rem;
    }
  }

  &-sm {
    @include text-sm;

    & {
      padding: 0.65625rem 0.9375rem;
      border-radius: 1.25rem;
    }

    &.has-icon {
      padding-right: 0.5625rem;
      padding-left: 0.5625rem;

      span {
        width: 1.25rem;
      }
    }

    .content {
      height: 1.0625rem;
    }
  }
}

.variant {
  &-primary {
    background-color: $color-primary;
    color: $color-light;

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-dark, $color-primary, 30%);
      color: $color-light;
    }
  }

  &-success {
    background-color: $color-success;
    color: $color-light;

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-dark, $color-success, 30%);
      color: $color-light;
    }
  }

  &-outline {
    border-color: color.mix($color-dark, $color-light, 25%);
    background-color: $color-light;
    color: $color-dark;

    @include dark-mode {
      &:not(.is-disabled) {
        border-color: color.mix($color-light, $color-dark, 30%);
        background-color: $color-dark;
        color: $color-light;
      }
    }

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-dark, $color-light, 5%);

      @include dark-mode {
        background-color: color.mix($color-light, $color-dark, 10%);
      }
    }
  }

  &-text {
    background-color: transparent;
    color: $color-dark;

    @include dark-mode {
      &:not(.is-disabled) {
        color: $color-light;
      }
    }

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-dark, $color-light, 5%);

      @include dark-mode {
        background-color: color.mix($color-light, $color-dark, 10%);
      }
    }
  }

  &-default {
    background-color: color.change($color-dark, $alpha: 0.2);
    color: $color-light;

    @include dark-mode {
      &.has-hover:not(.is-disabled) {
        background-color: color.change($color-light, $alpha: 0.1);
        color: $color-light;
      }
    }

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.change($color-dark, $alpha: 0.3);

      @include dark-mode {
        background-color: color.change($color-light, $alpha: 0.15);
      }
    }
  }

  &-white {
    background-color: $color-light;
    color: $color-dark;

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-dark, $color-light, 30%);
      color: $color-dark;
    }
  }

  &-black {
    background-color: $color-dark;
    color: $color-light;

    &.has-hover:hover:not(.is-disabled) {
      background-color: color.mix($color-light, $color-dark, 10%);
      color: $color-light;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

$color-loading-01: color.change($color-dark, $alpha: 0.15);
$color-loading-02: color.change($color-dark, $alpha: 0.25);
$color-loading-03: color.change($color-dark, $alpha: 0.35);
$color-loading-01-dark: color.change($color-light, $alpha: 0.15);
$color-loading-02-dark: color.change($color-light, $alpha: 0.25);
$color-loading-03-dark: color.change($color-light, $alpha: 0.35);

@keyframes loading {
  0% {
    background: $color-loading-02;
    box-shadow:
      0.875rem 0 $color-loading-01,
      -0.875rem 0 $color-loading-03;
  }

  33% {
    background: $color-loading-03;
    box-shadow:
      0.875rem 0 $color-loading-02,
      -0.875rem 0 $color-loading-01;
  }

  66% {
    background: $color-loading-01;
    box-shadow:
      0.875rem 0 $color-loading-03,
      -0.875rem 0 $color-loading-02;
  }

  100% {
    background: $color-loading-02;
    box-shadow:
      0.875rem 0 $color-loading-01,
      -0.875rem 0 $color-loading-03;
  }
}

@keyframes loading-dark {
  0% {
    background: $color-loading-02-dark;
    box-shadow:
      0.875rem 0 $color-loading-01-dark,
      -0.875rem 0 $color-loading-03-dark;
  }

  33% {
    background: $color-loading-03-dark;
    box-shadow:
      0.875rem 0 $color-loading-02-dark,
      -0.875rem 0 $color-loading-01-dark;
  }

  66% {
    background: $color-loading-01-dark;
    box-shadow:
      0.875rem 0 $color-loading-03-dark,
      -0.875rem 0 $color-loading-02-dark;
  }

  100% {
    background: $color-loading-02-dark;
    box-shadow:
      0.875rem 0 $color-loading-01-dark,
      -0.875rem 0 $color-loading-03-dark;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
