$background-overlay: rgb(0 0 0 / 50%);
$background-overlay-dark: rgb(0 0 0 / 60%);
$foreground-animation-duration: 0.6s;
$background-surface: $color-light;
$background-surface-dark: $color-dark;

.backdrop {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  display: grid;
  width: 100dvw;
  height: 100dvh;
  padding: 0 1.5rem;
  place-items: center;

  &--close-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    appearance: none;
    background-color: $background-overlay;
    transition: opacity $foreground-animation-duration ease-in-out;

    @include dark-mode {
      background-color: $background-overlay-dark;
    }

    &:focus {
      outline: 0;
    }
  }

  &.bottom-sheet {
    @media (max-width: $breakpoint-md - 1) {
      padding: 0;
      place-items: end;
    }

    .main {
      @media (max-width: $breakpoint-md - 1) {
        border-radius: 1rem 1rem 0 0;
      }
    }
  }

  .main {
    border-radius: 1rem;
    background-color: $background-surface;
    box-shadow: 0 4px 18px 0 #0000002b;

    @include dark-mode {
      background-color: $background-surface-dark;
      box-shadow: none;
    }
  }
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 35.5rem;
  max-height: calc(100dvh - 5rem);
  flex-direction: column;

  .bottom-sheet & {
    @media (max-width: $breakpoint-md - 1) {
      max-width: 100%;
      max-height: calc(100dvh - 1rem);
    }
  }
}

.sheet {
  padding: 0.5rem;
  place-items: end;

  .main {
    max-width: 1080px;
    height: 100%;
    max-height: 100%;
  }
}

.drag {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 0.75rem;
  user-select: none;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  &::before {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    width: 2.5rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: rgb(0 0 0 / 20%);
    content: '';
    transform: translateX(-50%);

    @include dark-mode {
      background-color: rgb(255 255 255 / 20%);
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  .scroll {
    flex: 1;
  }
}

.header {
  position: relative;
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1.5rem;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    padding: 0.75rem 1.5rem;
  }

  &.border {
    border-bottom: 0.0625rem solid $color-border;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }

  &.sheet {
    @media (min-width: $breakpoint-md) {
      padding: 1.25rem 1.5rem 0;
      border-bottom: 0;
    }

    .top {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }

    .title {
      @media (min-width: $breakpoint-md) {
        @include text-xl;
      }
    }
  }

  .top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    @include text-md;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }
  }

  .subtext {
    @include text-sm;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .left .anchor {
    margin: -0.5625rem 0 -0.5625rem -0.875rem;
  }

  .right .anchor {
    margin: -0.5625rem -0.875rem -0.5625rem 0;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem max(env(safe-area-inset-bottom), 1rem);
  gap: 0.5rem;
  text-align: center;

  &.full {
    flex-direction: column-reverse;

    .left,
    .right {
      width: 100%;

      .anchor {
        margin: 0;
      }
    }

    .button {
      width: 100%;
    }
  }

  &.border {
    border-top: 0.0625rem solid $color-border;

    @include dark-mode {
      border-color: $color-border-dark;
    }
  }

  &.shadow {
    box-shadow: 0 0 18px 0 #0000002b;
  }

  .text {
    text-align: left;
  }

  .title {
    @include text-sm;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }
  }

  .subtext {
    @include text-sm;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .left .anchor {
    margin-left: -1.5rem;
  }

  .right .anchor {
    margin-right: -1.5rem;
  }
}

.scroll {
  overflow: scroll;
  flex: 1;
  padding: 1.5rem;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    @include text-md;
    @include text-normal;
  }
}
