.banner {
  position: relative;
  background-color: $color-info;

  @include dark-mode {
    background-color: $color-bg-dark;
  }

  .social {
    position: absolute;
    z-index: 110;
    bottom: -1rem;
    left: 50%;
    display: none;
    transform: translateX(-50%);

    @media (min-width: $breakpoint-md) {
      display: flex;
    }
  }
}

.container {
  @include container;

  & {
    position: relative;
    padding: 0;
  }
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $breakpoint-md) {
    height: 800px;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (max-width: $breakpoint-md - 1) {
    height: 640px;
    min-height: 100dvh;
  }

  .header & {
    padding-top: 4.875rem;
  }
}

.image {
  @include skeleton-image;

  & {
    display: flex;
    padding: 0 1.5rem;

    @media (min-width: $breakpoint-md) {
      flex-basis: 50%;
      justify-content: flex-end;
      order: 1;
      padding-right: 1.5rem;
      padding-left: 3rem;
    }
  }

  .image-wrap {
    position: relative;
    width: 140px;
    border-radius: 1rem;
    aspect-ratio: 1;

    @media (min-width: $breakpoint-md) {
      width: 100%;
      max-width: 500px;
    }

    &.glass::after {
      position: absolute;
      z-index: 1;
      border-radius: inherit;
      box-shadow:
        inset 1px 1px 0 rgb(255 255 255 / 20%),
        inset 0 0 1px rgb(255 255 255 / 60%),
        0 1px 1px rgb(0 0 0 / 20%),
        0 0 5px rgb(0 0 0 / 10%);
      content: '';
      inset: 0;
      pointer-events: none;

      @include dark-mode {
        box-shadow:
          inset 1px 1px 0 rgb(255 255 255 / 10%),
          inset 0 0 1px rgb(255 255 255 / 60%);
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  .skeleton {
    @include light-mode {
      background-color: rgb(0 0 0 / 20%) !important;
    }
  }
}

.text {
  @include skeleton-text;

  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem 0;
    gap: 0.5rem;
    text-align: center;
  }

  @media (min-width: $breakpoint-md) {
    flex-basis: 50%;
    align-items: flex-start;
    padding: 4rem 1.5rem;
    text-align: left;
  }

  h1 {
    @include text-2xl;
    @include text-bold;

    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-heading-dark;
      gap: 0.5rem;

      @media (min-width: $breakpoint-md) {
        align-items: flex-start;
      }
    }

    @media (min-width: $breakpoint-sm) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-4xl;
    }

    .primary {
      color: $color-heading-dark;

      @include dark-mode {
        color: $color-primary;
      }
    }
  }

  h2 {
    @include text-lg;
    @include text-normal;

    & {
      color: $color-heading-dark;
      font-family: $font-body;
    }

    @media (min-width: $breakpoint-sm) {
      @include text-lg;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }
  }

  .button-text {
    color: #fff;
  }

  .skeleton {
    @include light-mode {
      background-color: rgb(0 0 0 / 20%) !important;
    }
  }
}

.button-group {
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-start;
  }
}
