.stack {
  position: relative;
}

.container {
  @include container;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  h2 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.item {
  position: relative;
  width: 40px;
  color: $color-heading;

  @include dark-mode {
    color: $color-heading-dark;
  }

  @media (min-width: $breakpoint-md) {
    width: 60px;
  }

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:hover {
    z-index: 1;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &[data-tooltip] {
      @include toolbar;

      &:hover::after {
        margin-top: 1rem;
      }

      &:hover::before {
        top: auto;
        bottom: -1rem;
      }
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}
