@use 'uplord-ui/styles/forward' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p.small {
  @include text-sm;
  @include text-normal;

  & {
    color: $color-body;

    @include dark-mode {
      color: $color-body-dark;
    }
  }

  a {
    color: $color-primary;
  }
}

.close {
  border-radius: 1.25rem;
}
