@import 'https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap';

body {
  font-family: 'DM Sans', sans-serif;
}

.body {
  background: #fff;
  transition: background-color 0.3s;
}

.padding {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

html .sb-show-main {
  background: inherit !important;
}
