@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

.body {
  transition: background-color 0.3s;
  background: #FFF;
}

.padding {
  padding: 1.5rem;
}

.padding-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
