.section {
  position: relative;
}

.container {
  @include container;
}

.content {
  display: grid;
  gap: 1rem;

  @media (min-width: $breakpoint-md) {
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 5rem;
  }

  &.reverse {
    @media (min-width: $breakpoint-md) {
      grid-template-columns: 3fr 2fr;
    }

    .image {
      @media (min-width: $breakpoint-md) {
        order: 1;
      }
    }
  }
}

.image {
  @include skeleton-image;

  .image-wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 250px;
    justify-content: flex-start;
    aspect-ratio: 1;

    @media (min-width: $breakpoint-md) {
      max-width: 520px;
      justify-content: center;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.text {
  @include skeleton-text;

  & {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: $breakpoint-md) {
      gap: 0.5rem;
    }
  }

  h3 {
    @include text-lg;
    @include text-bold;

    & {
      color: $color-primary;

      @include dark-mode {
        color: $color-primary;
      }
    }

    @media (min-width: $breakpoint-lg) {
      @include text-xl;
    }
  }

  h2 {
    @include text-xl;
    @include text-bold;

    & {
      color: $color-heading;

      @include dark-mode {
        color: $color-heading-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-2xl;
    }

    @media (min-width: $breakpoint-lg) {
      @include text-3xl;
    }
  }

  p {
    @include text-md;
    @include text-normal;

    & {
      color: $color-text;

      @include dark-mode {
        color: $color-text-dark;
      }
    }

    @media (min-width: $breakpoint-md) {
      @include text-xm;
    }
  }

  .button-group {
    margin-top: 1rem;
  }
}
