.social {
  @include skeleton-text;

  & {
    display: flex;
    gap: 1.5rem;
  }

  .icon {
    position: relative;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem;
    background: $color-primary;
    color: $color-light;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        scale: 1.1;
      }
    }

    &.glass::after {
      position: absolute;
      z-index: 1;
      border-radius: inherit;
      box-shadow:
        inset 1px 1px 0 rgb(255 255 255 / 20%),
        inset 0 0 1px rgb(255 255 255 / 60%),
        0 1px 1px rgb(0 0 0 / 20%),
        0 0 5px rgb(0 0 0 / 10%);
      content: '';
      inset: 0;
      pointer-events: none;

      @include dark-mode {
        box-shadow:
          inset 1px 1px 0 rgb(255 255 255 / 10%),
          inset 0 0 1px rgb(255 255 255 / 20%);
      }
    }

    &:focus {
      scale: 1;
    }
  }

  svg {
    width: 24px;
    height: auto;

    @media (min-width: $breakpoint-xl) {
      width: 30px;
    }
  }

  .linkedin {
    background: #0077b5;
    color: $color-light;
  }

  .instagram {
    background: #d62976;
    color: $color-light;
  }

  .github {
    background: #000;
    color: #fff;

    @include dark-mode {
      background: #fff;
      color: #000;
    }
  }
}
